.edtrow, .hrow{
    border: 1px solid black;
}
.edtrow{
    background-color: green;
    color: white;
}
.empty{
    background-color: white;
}
.hrow{
    font-weight: bold;
}
.edtcolumn{
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}
.edttable{}
.center-big-div{
    margin: 20px auto;
}
.center-very-big-div{
    margin: 20px auto;
}
.center-div{
    margin: 20px auto;
}